.room-list {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 1.5em;
  color: white;
  line-height: 1.6em;
  text-align: left;
  padding-left: 2em;
  grid-area: aside;
  line-height: 1em;
}

.Room-name {
  padding-bottom: 0px;
  padding-top: 25px;
}

.Delete-text:hover,
.rename-text:hover {
  color: #13cbf9;
}

.rename-room-modal,
.Delete-text,
.inline-block {
  display: inline-block;
  padding: 0px;
  font-size: 0.65em;
  color: gray;
}

Modal {
  display: grid;
  height: 100%;
  width: 100%;
}

.modal-form {
  margin: auto;
  padding: 30px;
}

.modal-input {
  width: 90%;
  height: 20px;
  padding: 5px;
  margin-bottom: 10px;
}
