.App {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  border: 2px solid green;
}

html,
body {
  height: 100vh;
}

.header {
  background-color: #282c34;
  color: white;
  width: 100vw;
  justify-content: space-between;
  display: flex;
  flex-basis: 80px;
}

.logo {
  padding-left: 1.5em;
}
.sign-in-out {
  padding-right: 1.5em;
}

button {
  border: none;
  height: auto;
  width: auto;
  padding: 10px;
  background: #8552f2;
  color: #ffffff;
  font-size: 0.8em;
}

h1 {
  font-size: 2.5em;
  background: linear-gradient(90deg, #c594f7, #13cbf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
