.App {
  text-align: center;
  display: grid;
  grid-template-columns: 25% auto;
}

.room-list {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 1.5em;
  color: white;
  line-height: 1.4em;
  text-align: left;
  padding-left: 2em;
}

.message-list {
  background-color: white;
  text-align: left;
  padding-left: 2em;
}
